<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    
</head>
<body>
    <div class="container">
        <h1>To-Do List</h1>
        <form id="todoForm" action="/add" method="POST">
            <input type="text" name="task" placeholder="Enter a new task" required>
            <input type="date" name="due_date" required>
            <button type="submit" class="add-btn">Add</button>
        </form>
        <table>
            <thead>
                <tr>
                    <th>Task</th>
                    <th>Due Date</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for todo in todos %}
                <tr>
                    <td>{{ todo[1] }}</td>
                    <td>{{ todo[2] }}</td>
                    <td><a href="/delete/{{ todo[0] }}" ><button class="delete-btn delete">x</button></a></button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>

</body>
</html>
